h1 {
  text-align: center;
  margin-top: 80px;
}

h2 {
  margin: 10px;
}

h3 {
  margin: 20px;
}

nav a {
  transition: all 100ms ease-in-out;
}

.btn-info {
  color: white;
}

.btn-info:hover {
  color: #30d2f2;
  background-color: white;
  transition: all 100ms ease-in-out;
}

.contact-links {
  margin-left: 20px;
  margin-top: 0;
}

.contact-headings {
  margin-left: 20px;
}

@media (max-width: 560px) {
  h2,
  h3,
  p {
    text-align: center;
  }
}
