body {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 30px;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
}

.navbar-brand {
  font-family: "Bebas Neue", cursive;
  font-size: 28px;
  margin-top: 5px;
  margin-left: 30px;
}

h3 {
  margin: 20px;
}

img {
  max-width: 550px;
  max-height: 550px;
}

nav a {
  transition: all 100ms ease-in-out;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

ul {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.accordion-button {
  font-size: 24px;
}

.contact-box h3 {
  color: black;
}

.btn-primary {
  color: white;
  font-size: 20px;
}

.btn-primary:hover {
  color: #085ed7;
  background-color: white;
  transition: all 100ms ease-in-out;
}

.btn-dark {
  color: white;
  font-size: 20px;
}

.btn-dark:hover {
  color: black;
  background-color: white;
  transition: all 100ms ease-in-out;
}

.contact-headings,
.contact-links {
  margin: 0;
}

.contact-headings {
  margin-top: 30px;
}

.contact-links {
  margin-bottom: 35px;
}

.service-heading {
  margin-left: 50px;
}

.service-list {
  margin-left: 50px;
}

.service-info img {
  border: 2px solid blue;
}

.seo-picture {
  display: block;
  margin: 0 auto;
}

#contact-card {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

.logo-header {
  margin-top: 73px;
  margin-left: 0;
}

h1.card-title {
  text-align: left;
  font-size: 42px;
  margin: 0;
}

@media (max-width: 560px) {
  h2,
  h3,
  p,
  img {
    text-align: center;
  }

  h1 {
    font-size: 40px;
  }

  img {
    margin-bottom: 15px;
    max-width: 450px;
    max-height: 450px;
  }

  .navbar-brand {
    margin-left: 0;
  }

  .contact-box {
    text-align: center;
  }

  .contact-box h3 {
    margin-bottom: 0;
  }

  .service-heading {
    margin: 0;
    margin-top: 30px;
  }

  .service-list {
    margin-left: 0;
  }

  .col-md-4 {
    margin-top: 10px;
  }

  .seo-picture {
    padding: 15px;
  }

  .contact-container {
    max-width: 22rem;
    margin: 0 auto;
  }
}
